* {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #115375, #11cfe9);
    min-width: 450px;

}

@media(width >=500px) {
    .form-submit {
        margin: auto;
        position: fixed;
        padding-right: 30px;    
    }
}

.profile {
    display: none;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    display: none;
}

.close:hover {
    background-color: #f44336;
    color: white;
  }
#name,
#list,
#searchbar {
    border-radius: 5px;
}

.form-submit {
    padding: 15px;
    margin: 0px 400px;
    height: 100%;
    position: fixed;
    text-align: left;
    border-style: ridge;
    background: #fff;
    flex-direction: row;
    width: 43%;
}

button {
    border-radius: 5px;
    color: #fff;
    background-color: #3f7edf;
    border-color: #3f7edf;
    padding: 4px 10px;
    margin-left: 8px;
}

hr {
    margin-top: 10px;
}